<% if @article%>
    <article class="detail-article">
        <h1 class:"article-detail-title"><%= @article.title%></h1>
        <div class="glyphicon glyphicon-calender" id="article-date">
            <%= @article.created_at.strftime("%b %d %Y")%>
        </div>
        <div class="article-body">
            <%= @article.body%>
        </div>
        <% if user_signed_in? && current_user == @article.user %>
            <%= link_to "Edit article",edit_article_path,class:"btn btn-primary btn-lg btn-space"%>
            <%= link_to "Delete article",article_path(@article),class:"btn btn-primary btn-lg btn-space",method: :delete,
            data:{confirm:"Are you sure ?"}%>
        <% end %>
        <hr>
        <div class="col-md-12">
            <%= form_for [@article,@comment],html:{class:"form-horizontal",role:"form"},remote:true do |form|%>
                <% if @comment.errors.any? %>
                    <div class="panel panel-danger col-md-offset-1">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <%= pluralize(@comment.errors.count,'error')%>
                                prohibited this comment from being saved.
                            </h2>
                            <div class="panel-body">
                                <% @comment.errors.full_messages.each do |error|%>
                                    <li><%= error %></li>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    
                <% end %>
                
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <%= form.label :body,"New comment"%>
                    </div>
                    <div class="col-md-10">
                        <%= form.text_area :body,rows:10,class:"form-control",placeholder:"Your Comment!"%>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <%= form.submit "Add comment",class:"btn btn-primary btn-lg pull-right"%>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-12">
            <header>
                <h2>Comments :</h2>
            </header>
            <div class="col-md-10">
                <div id="message">
                    <% if @article.comments.any? %>
                            <% persisted_comments(@comments).each do |comment|%>
                                <div class="comment-body">
                                    <%= comment.body %>
                                </div>
                                <div class="comment-time">
                                    <%= time_ago_in_words(comment.created_at)%>
                                    ago by <%= comment.user.email%>
                                </div>
                                <hr>
                            <% end %>
                        <% else %>
                            There are no comment to show.
                        <% end %>
                    </div>
            </div>
        </div>
</article>
<% else %>
    <h3>No result is found!</h3>
<%end%>